* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
    
}

body {
   overflow: hidden;
   height: 100vh;
   font-family: "Montserrat", sans-serif;
}


/* Navbar */

 
.navbar{
   background-color: #1d1d1d;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 60px;
}
.logo{
   margin-right: 10px;
   /* border-right: 2px solid white; */
}
.line {
   height: 4rem;
   width: .2rem;
   background-color: #fff;
   margin: 0 3rem;
}
.list{
   display: flex;
   margin: 2rem;
   list-style-type: none;
}
.list-item{
   margin: 2rem;
   font-size: 22px;
}
.button-small {
   border-radius: 9px;
   padding: 11px;
   background-color: #cd39c3;
   width: 180px;
   color: white;
   margin-left: 200px;
   font-size: 22px;

}
 
  .hero{
   background-image: url(assets/bg.png); 

   background-repeat: no-repeat; 
   
   /* background-position-y: 0px; */
   background-size: 100vw 80vh; 
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 0px;
   /* padding-top: 250px; */
}
 
.hero-heading{
   font-size: 60px;
   text-align: center;
   color: #fff;
   font-weight: 750;
   position: absolute;
   bottom: 400px;
   width: 900px;

}
 .hero-description{

   color: #fff;
   font-weight: 500;
   position: absolute;
   bottom: 350px;
   font-size: 25px;
 }
.button-large{
   border-radius: 10px;
   padding: 11px;
   border: none;
   background-color: #cd39c3;
   width: 280px;
   color: white;
   height: 70px;
   font-size: 22px;
   font-weight: 500;
   position: absolute;
}